body {
  background: #fff;
  font-family: 'Urbanist', sans-serif;
  font-size: calc(0.75em + 1vmin);
}

.navbar {
  margin-bottom: 30px;
}

.ogs-custom-font-m{
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 2px;
}
.ogs-custom-navbar{
  padding-left: 5%;
  padding-right: 5%;
  background: #F8F8F8;
}

.ogs-nav-list{
  padding-right: 1vw;
}

.ogs-contents{
  margin-top: 70px;
}

.btn-primary{
  background: #1a1f9f;
  border: #1a1f9f;
  box-shadow: 5px 8px 8px #1a1f9f41;
}

.ogs-dark{
  color: #F8F8F8;
  background: #000000;
  background: -webkit-linear-gradient(to left, #434343, #000000);
  background: linear-gradient(to left, #434343, #000000);
}

.ogs-blue-grain{
  background-image: url("/assets//brand/grain-blue.jpg");
}

.ogs-blue{
  color: #F8F8F8;
  background-repeat: no-repeat;
  background: #1a1f9f;
  background-image: linear-gradient(to right bottom, #2375d8, #1566cf, #0b57c6, #0947bb, #1037b0, #1c2fab, #2527a6, #2c1da0, #361ba1, #3f19a2, #4717a3, #4f14a4) fixed;
}


.ogs-moving-bg{
  color: #F8F8F8;
  background-position: center;
  background-size:cover;
 
}



.contact_container{
  row-gap: 3rem;
}

.contact_information{
  display: flex;
  margin-bottom: var(--mb-2);
}

.contact_icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-right: var(--mb-0-75);
}

.contact_title{
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.contact_subtitle{
  font-size: var(--small-font-size);
  color: var(--text-color-light);
}

.contact_content{
  background-color: var(--input-color);
  border-radius: .5rem;
  padding: .75rem 1rem .25rem;
}

.contact_input{
  width: 100%;
  background-color: var(--input-color);
  color: var(--text-color);
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  border: none;
  outline: none;
  padding: .25rem .5rem .5rem 0;
}

.contact_label{
  font-size: var(--smaller-font-size);
  color: var(--title-color);
}


body {
  font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #fff;
  color: #999;
  line-height: 2; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Poppins", sans-serif;
  color: #000; }

a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a, a:hover {
    text-decoration: none !important; }

.text-black {
  color: #000; }

.content {
  padding: 7rem 0; }

h2 {
  font-size: 3.5rem;
  font-weight: 700; }

h3 {
  font-size: 2rem;
  font-weight: 700; }

.form-control {
  border: none;
  border: 1px solid #d9d9d9;
  border-radius: 0; }
  .form-control:active, .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #000; }

.col-form-label {
  color: #000; }

.btn, .form-control {
  height: 55px; }

.btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

label.error {
  font-size: 12px;
  color: red; }

#message {
  resize: vertical; }

#form-message-warning, #form-message-success {
  display: none; }

#form-message-warning {
  color: #B90B0B; }

#form-message-success {
  color: #55A44E;
  font-size: 18px;
  font-weight: bold; }

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000; }


  #ogs-navbar{
    
  }



 

